@font-face {
  font-family: Oswald;
  src: url(./../fonts/Oswald-Medium.ttf);
}
@font-face {
  font-family: OswaldExtraLight;
  src: url(./../fonts/Oswald-ExtraLight.ttf);
}
@font-face {
  font-family: OswaldLight;
  src: url(./../fonts/Oswald-Light.ttf);
}
@font-face {
  font-family: OswaldRegular;
  src: url(./../fonts/Oswald-Regular.ttf);
}
@font-face {
  font-family: OswaldSemiBold;
  src: url(./../fonts/Oswald-SemiBold.ttf);
}
